 <footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="container">
                <div class="row ">

                    <div class="col-sm-4 col-md-4 col-lg-4 offset-md-3">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="{% url 'home' %}"><h6>Home</h6></a></li>
                            <li><a href="{% url 'cal_con' %}"><h6>Cryptocurrency Converter</h6></a></li>
                            <li><a href="{% url 'prediction' %}"><h6>Bitcoin Price Prediction</h6></a></li>
                            <li><a href="{% url 'about' %}"><h6>About</h6></a></li>
                            <li><a href="{% url 'faq' %}"><h6>FAQ's</h6></a></li>
                            <li><a href="{% url 'blog' %}"><h6>Blogs</h6></a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    
                    <!-- End of .col-sm-3 -->

                </div>
            </div> <!-- end container -->
        </div>

    </footer> <!-- end footer -->


    <!-- end Footer Area
    ========================================== -->
