{% load static %} 
<!DOCTYPE html>

<html lang="zxx">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>CRYPTOS</title>

    <!-- Mobile Specific Meta
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
  ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{% static 'home/plugins/themefisher-font.v-2/style.css' %}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{% static 'home/plugins/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'home/plugins/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'home/plugins/slick-carousel/slick/slick-theme.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">



</head>

<body id="body">


    <!--
Fixed Navigation
==================================== -->
   {% include 'header.html' %}
    {% block content %}
        <table id="products" class="table">
            <thead>
                <tr>
                    <th scope='col'>Logo</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Rank</th>
                    <th scope='col'>Market Cap</th>
                    <th scope='col'>Price(USD)</th>
                    <th scope='col'>Analysis</th>
                    
                </tr>
            </thead>
            <tbody>
                
                {% if data %}
                    {% for obj in data %}
                    
                        <tr class="parent">
                            <td ><img src={{obj.image}} height='70'></td>
                            <td class="align-middle ">{{obj.name}}</td>
                            <td class="align-middle">{{obj.market_cap_rank}}</td>
                            <td class="align-middle">{{obj.market_cap}}</td>
                            <td class="align-middle">{{obj.current_price}}</td>
                            <td class="align-middle">
                                <button class="btn btn-primary" onclick="location.href='{% url 'prediction' name=obj.name %}'">Predict</button>
                            </td>
                            
                        </tr>
                        <tr><td colspan="5">{% autoescape off %}{{obj.plot}}{% endautoescape %}</td></tr>
                        
                    {% endfor %}
                {% else %}
                    <h3>Nothing here...</h3>
                {% endif %}
            </tbody>
    
        </table>
        
    {% endblock content %}
    
    {% block scripts %}
    {% endblock scripts %}

    <!-- end Footer Area
    ========================================== -->



    <!-- 
    Essential Scripts
    =====================================-->

    <!-- Main jQuery -->
    <script src="{% static 'home/plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'home/plugins/bootstrap/dist/js/popper.min.js' %}"></script>
    <script src="{% static 'home/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Owl Carousel -->
    <script src="{% static 'home/plugins/slick-carousel/slick/slick.min.js' %}"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- Smooth Scroll js -->
    <script src="{% static 'home/plugins/smooth-scroll/dist/js/smooth-scroll.min.js' %}"></script>

    <!-- Custom js -->
    <script src="{% static 'home/js/script.js' %}"></script>

</body>

</html>